#home-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#home-div::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.2);
}

#home-div > p {
    font-family: NanumBarunGothic;
    font-weight: 500;
    display: inline-block;
    background: white;
    font-size: 5vh;
    margin: 15% 0;
    z-index: 999;
}

#home-div > #users-select {
    font-family: NanumBarunGothic;
    font-weight: 500;
    border: 2px solid black;
    width: 50%;
    height: 5%;
    z-index: 999;
}

#home-div > #users-select > option {
    font-family: NanumBarunGothic;
    font-weight: 300;
}
